.content{
    margin-left: 8%;
    margin-right: 5%
}
#ThongSo{
   width: 70%;
   height: 60%;
   margin-left: 13%;
}
h2{
   color: rgb(39, 39, 243);
   border-bottom: 1px solid rgb(206, 205, 205);
}
#imgxe{
   text-align: center;
}
#imgxe img{
   width: 60%;
   height: 45%;
}
#imgxe p{
   margin-top: 0;
   font-size: 17px;
}
iframe{
    margin-left: 17%;
}
#mausac{
    text-align: center;
}
p{
    font-size: 16px;
    font-style: italic;
}